body {
    margin: 0;
    background-color: #faf9f9;
    color: white;
    scroll-behavior:smooth;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
html {
    margin: 0;
}
header {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 0px;
    margin-top: 20px;
   z-index: 99;
    
}

nav {
    width: 90vw;
    height: 60px;
    background-color: #090D15;
    text-transform: uppercase;
    border-style: solid;
    border-width: 5px;
    border-radius: 60px;
    box-shadow: 2px 5px 10px #090D15;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
#produkter {
    scroll-margin-top: 100px;
}
.navSpan {
    margin-right: 0px;
    display: flex;
    justify-content: right;
    width: 50%;
}

.logo {
    margin-left: 20px;
    margin-right: 10px;
    height: 45px;
}
.navLogo {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    transition-duration: 0.3s;
}
.navLogo:hover {
    transition-duration: 0.3s;
    transform: scale(1.04);
    color: white;
}
aside {
    background-color: #090D15;
    border: #090D15 solid ;
}

main {
    min-height: 50vh;
    width: 100%;
    padding-top: 90px;
    display:flex;
    justify-content: center;
}
h1 {
    color: black;
    height: 25px;
    text-align: center;
}
article {
    width: 90%;
    display: flex;
    flex-direction: column;
}

section {
    width: 95%;
    min-height: 500px;
    border-style: solid;
    border-width: 5px;
    border-radius: 35px;
    box-shadow: 0px 5px 15px black;
    background-color: #090D15;
    margin-top: 50px;
    padding: 25px;
    transition-duration: 0.4s;
}
section:hover {
    transform: scale(1.02);
    transition-duration: 0.4s;
}
.heroSection {
    width: 95%;
    min-height: 500px;
    border-style: solid;
    border-width: 5px;
    border-radius: 35px;
    box-shadow: 0px 5px 15px black;
    background-color: #090D15;
    margin-top: 50px;
    padding: 25px;
    display: flex;
    justify-content: center;

}
table, th, td {
    border: solid 2px white;
}

.heroDiv {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroDivTwo {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
.annonsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.rowWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.singleAnnons {
    border: solid 5px white;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    padding: 10px;
    color: white;
    transition-duration: 0.3s;
}
.singleAnnons:hover {
    transition-duration: 0.3s;
    border: solid 5px green;
    transform: scale(1.15);
}
.annonsSmallImg {
    max-width: 250px;
    border-radius: 20px;
}

button {
    width: 150px;
    height: 50px;
    color: black;
    font-weight: bolder;
    font-size: 18px;
    background-color: rgb(41, 230, 41);
    border: 0px;
    border-radius: 50px;

}
button:hover {
    cursor: pointer;
}
.heroGif {
    width: 40vw;
    height: fit-content;
    /*max-width: 400px;*/
    border-radius: 20px;
    border: solid 5px white;
}
.checkout {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.fade {
    width: 100%;
    height: 400px;
    
    background: linear-gradient(to bottom, #faf9f9, #090D15);
}

footer {
    width: 100%;
    min-height: 300px;
    background-color: #090D15;
}
.footerSpan {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 10%;
    padding-top: 50px;
    display: inline-flex;
    align-items: center;
    border-top: solid 1px #232427;
    
    
}
.footerLink {
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20%;
    color: #494b52!important;
}
.github-logo {
    width: 30px;
}


.navOptions {
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
    padding: 5px;
    display: inline-block;
}


a {

    text-decoration: none;
    color: rgb(106, 116, 253);
}
a.navOptions {
    transition-duration: 0.3s;

    text-decoration: none;
    color: white;
}
a:hover {
    transition-duration: 0.3s;
    color: lightblue;
}
